
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: #282830;
  color: #dbdbdb;
}

header {
  background: #292f3a;
  color: #fff;
  padding: 2rem 1rem;
  text-align: center;
}

#projects-header {
  margin:auto;
  max-width: 900px;;
}

nav a {
  margin: 0 1rem;
  color: #fff;
  text-decoration: none;
}

a {
  color: #fff;
}

#projects {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  gap: 1rem;
}

.project-card {
  background: #2c323d;
  padding: 1rem;
  margin: 1rem 0;
  border-left: 5px solid #333;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  flex: 0 0 800px;
}

section {
  padding: 1rem 1rem 1rem 1rem;
  max-width: 900px;
  margin: auto;
}


footer {
  text-align: center;
  padding: 1rem;
  background: #ddd;
  /* background-color: #282830; */
  /* background: #292f3a; */
  background: #222;
}

/* .top-nav-button {
  /**/
/* } */ 

/* 
.top-nav-button:hover {
    color: rgb(156, 156, 156);
} */

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #222;
  padding: 0.75rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.sticky-nav a {
  /* margin: 0 1rem; */
  color: #fff;
  text-decoration: none;
  /* font-weight: bold; */
  transition: color 0.3s ease;
}

.sticky-nav a:hover {
  color: rgb(156, 156, 156);
}


/* 
Images for Project card
*/

.project-card img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0.5em;
}

/* Image modal section */

.media-thumbs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
.thumb {
    width: 100px;
    height: auto;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.2s;
}
.thumb:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-content {
    max-width: 90%;
    max-height: 80vh;
    margin-bottom: 20px;
    border-radius: 8px;
}

.modal-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.modal-nav button {
    background-color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}




/* End of Image Modal section */