<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haley's Portfolio</title>
    <link rel="stylesheet" href="../styles/style.css" />
</head>

<body>

    <header>
        <h1>Haley Lind</h1>
        <h3>Computer Engineering, B.S.E.</h3>
        <p>Embedded Systems | ML Research | Real-Time Systems</p>
        
    </header>

    <nav class="sticky-nav">
        <a href="#projects" class="top-nav-button">Projects</a>
        <a href="#about" class="top-nav-button">About Me</a>
        <a href="#future" class="top-nav-button">My Future</a>
        <a href="#contact" class="top-nav-button">Contact</a>
    </nav>

    <section id="projects">
        <h2>Introduction</h2>
        <p> Welcome to my personal portfolio - a space where I share not only what I've accomplished, but who I am as a person and  as an upcoming engineer. </p>
        <p> I'm an individual who learns fast, thinks analytically, and cares a lot - about my impact, my team, developing ideas, and about doing great work. I built this site so you can view (more in depth than a resume) the work I've done, what I currently enjoy doing, and my progressions. </p>
        <p> I'm especially drawn toward embedded systems, machine learning, robotics, real-time systems, and much more. Long-term, I aim to grow my skillset such that I can help build technologies that are thoughtful, carefully designed, and provide genuine utility.</p>
        <p> Thank you for taking the time to view my work!</p>
    </section>

    <section id="projects">
        <h2>Projects</h2>

        <div class="project-card">
            <h3>PCB Design for Wearable Health Monitor</h3>
            <p>Passion Project • Embedded Systems • Summer 2025</p>
            <p>Designed the PCB for a wearable health monitor as a hands-on project to explore PCB design, I2C communication, embedded systems, and CAD. Using KiCad, I created
                custom PCB layouts based on existing commercial modules and integrated components like the MAX30102 pulse oximeter and SSD1306 OLED display. This project 
                involved debugging communication issues, refining circuit design, and learning how to work with sensor data in real-time using an Arduino microcontroller.</p>
            <p>Tools: KiCad, Arduino, MAX30102, SSD1306, I2C protocol, Embedded C</p>
            <p><b>TODO:</b> Take away the Arduino board, replace with only the bare microcontroller. </p>
            
            <p><b>Media: </b></p>
            <img src="../assets/journal/june_2025/pcb_design_2.png" class="thumb" onclick="openGallery('pcb')">
            <!-- <div class="media-thumbs">
                <img src="assets/journal/june_2025/designing_a_footprint.png" class="thumb" onclick="openModal(this.src)" />
                <img src="assets/journal/june_2025/fp_2.png" class="thumb" onclick="openModal(this.src)" />
                <img src="assets/journal/june_2025/fp_3.png" class="thumb" onclick="openModal(this.src)" />
                <img src="assets/journal/june_2025/pcb_design_1.png" class="thumb" onclick="openModal(this.src)" />
                <img src="assets/journal/june_2025/pcb_design_2.png" class="thumb" onclick="openModal(this.src)" />
                <img src="assets/journal/june_2025/pcb_layout_1.png" class="thumb" onclick="openModal(this.src)" />
                <img src="assets/journal/june_2025/pcb_layout_done.png" class="thumb" onclick="openModal(this.src)" />
            </div> -->

            
        </div>
        
        <div class="project-card">
            <h3>Multimodal Data Fusion for Emotion Recognition</h3>
            <p>CSCE790 • Neuromorphic & Edge Computing • Spring 2025</p>
            <p>Group final project. I developed the multimodal data fusion model, which took the outputs of a Facial Emotion Recognition (FER) CNN model and a Sentiment Analysis 
                (SA) model. Through concatenation, a simple but effective data fusion technique, our group achieved higher accuracy than either unimodal approach.  </p> 
            <p><strong>Media:</strong></p>
            <ul>
                <li><a href="../assets/journal/spring_2025/CSCE790_Paper.pdf" target="_blank">Final Paper (PDF)</a></li>
                <li><a href="../assets/journal/spring_2025/CSCE790_Presentation.pdf" target="_blank">Presentation Slides (PDF)</a></li>
                <li><a href="../https://github.com/haley-dev-1/sentiment-analysis-CSCE790" target="_blank">GitHub Repository</a></li>
            </ul>

            <img src="../assets/journal/spring_2025/setup.jpg" class="thumb" onclick="openGallery('csce790')">

            <!-- <div class="media-thumbs">
                <img src="assets/journal/spring_2025/selfie.jpg" class="thumb" onclick="openModal(this.src)" />
                <img src="assets/journal/spring_2025/setup.jpg" class="thumb" onclick="openModal(this.src)" />
            </div> -->

            <b> </br>Our group won an opportunity for a free submission to the ICML conference - this was awarded by our professor, Dr. Ramtin Zand.</b>
             
            
            
        </div>

        <!-- <div class="project-card">
            <h3>IPC Messaging</h3>
            <p>CSCE311 • Operating Systems • Fall 2024</p>
            <p>Description</p>
        </div> -->
        
         <div class="project-card">
            <h3>Multithreaded two-way group chat</h3>
            <p>CSCE491 • Computer Networks • Fall 2024</p>
            <p>Implemented a group chat system on the command line. TCP sockets were used to ensure reliable and orderly messaging. Due to multiple clients being allowed, they were tracked using a hashmap.</p>
        </div>

         <div class="project-card">
            <h3>Embedded Systems</h3>
            <p>CSCE313 • Embedded Systems • Fall 2024 </p>
            <p>Developed bare metal embedded system.
               Configured the peripheral connections, debugged the system and JTAG and USB issues. With this project I developed a solid foundation for embedded systems design. I also explored
               implementing a mode-switchable system, modularity, and expanding features. By the end of the semester, I implemented VGA output, managed memory mapping, and pixel addressing. 
            </p>
            <p>Tools: Cyclone IV FPGA, Nios II processor, Quartus Prime, C, Verilog</p>
        </div>

         <div class="project-card">
            <h3>Analysis of RC and RLC Filters</h3>
            <p>ELCT221 • Circuits II • Spring 2024 </p>
            <p>Group lab project. Used circuits and breadboards to create RC lowpass, RC highpass, and RLC Bandpass filters. Simulated each circuit configuration on LTSpice, and compared real vs. simulation. 
                Analog Discovery's WaveForms software was used to display oscilloscope results. Our group analyzed magnitude and phase transfer plots for each circuit, as well as their corner frequency.</p>
        </div>

        <div class="project-card">
            <h3>Up/Down Un/Sat Counter</h3>

            <p>CSCE211 • Digital Logic Design • Fall 2023</p>
            <p>One of my personal favorite projects. This furthered my excitement for pursuing ECE.</p>
            
            <p>Group project, cumulative from other gorup projects throughout the semester. We were tasked to create, from scratch (and handwritten karnaugh maps), a counter. This would be done exclusively through digital logic (AND, NOT, OR gates). Flip Flops (JK flip flop in this case) were also made by hand.
                The user could toggle whether the counter would saturate or not, or whether it'd count up or down. </p>

            <!-- <div class="image-container"> 
                <img alt="Complicated Digital Logic Project" src="assets/counter/main.png" />
                <img alt="Complicated Digital Logic Project" src="assets/counter/JKFF.png" />
                <img alt="Complicated Digital Logic Project" src="assets/counter/3bit.png" />
            </div> -->

            <img src="../assets/counter/main.png" class="thumb" onclick="openGallery('csce212')">
            
        </div>
    </section>


        <!-- old future section -->
    <section id="future">
        <h2>My Future</h2>
        <p> <a href="../views/constellation.html" target="_blank"> View the roadmap.  </a></p>
     
        
    </section>

    <section id="about">
        <h2>About Me</h2>
        <p>I'm a computer engineer with a passion for embedded systems and machine learning. I’ve worked on many projects, 
            spanning from full-stack webpage development to machine learning edge systems...  </p>
            <!-- <p>I have a background with full-stack development. I technically began this journey in elementary school when I took it upon myself to learn HTML, and eventually CSS. </p> -->
            
            <p>I am currently aspiring to learn more about robotics, machine learning, and autonomous systems. I hope to use that knowledge to develop products and services that prove beneficial for various communities.</p>
    </section>

    <section id="contact">
    <h2>Contact</h2>
    <div class="contact-info">
        <p><strong>Email:</strong> <a href="mailto:hlind.engineering@gmail.com">hlind.engineering@gmail.com</a></p>
        <p>
            <strong>Links:</strong>
            <!-- <a href="../assets/Resume.pdf" target="_blank">Resume (PDF)</a> |  -->
            <a href="https://github.com/haley-dev-1" target="_blank">GitHub Portfolio</a>
        </p>
    </div>
    </section>

    <!-- Modal views -->
    <!-- <div id="imgModal" class="modal" onclick="closeModal()">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImg">
    </div> -->

    <div id="imgModal" class="modal" onclick="closeModal(event)">
        <span class="close" onclick="closeModal(event)">&times;</span>
        <img id="modalImg" class="modal-content" />
        <div class="modal-nav">
            <button onclick="prevImage(event)">Previous</button>
            <button onclick="nextImage(event)">Next</button>
        </div>
    </div>


    <footer>
        <p>Haley Lind &copy; 2025</p>
    </footer>

    <script src="../scripts/script.js"></script>
    
</body>

</html>

<!--






-->